/*mobile first!!!*/

.pagination-btn {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  width: 30px;
  height: 30px;
  background: transparent;
  color: white;
  text-align: center;
  border-color: transparent;
  cursor: pointer;
}
.pagination-btn:hover {
  border: 1px solid #dc56c5;
  color: #dc56c5;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-width: 1px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .pagination-btn {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }
  .pagination-btn:hover {
    border: 1px solid #dc56c5;
    color: #dc56c5;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 1px;
  }
}

@media (min-width: 1200px) {
  .pagination-btn {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }
  .pagination-btn:hover {
    border: 1px solid #dc56c5;
    color: #dc56c5;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 1px;
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 60px;
}


/*HEADER*/
.search-box {
    display: flex;
    margin-top: 25px;
    flex-direction: column;

    align-items: center;
    gap: 10px;
}


.search-wrapper {
    position: relative;
}

.event-search {
  padding-right: 50px;
  padding: 10px 80px 10px 30px;
}

.event-search,
.countries,
.event-search-btn {
 color: #939393;

font-family: 'Montserrat';
font-weight: 400;
font-size: 16px;
border-radius: 20px;
 backdrop-filter: blur(20px);
}
.countries {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 10px 113px 10px 30px;
    cursor: pointer;
}

.event-search {

  color: #939393;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  border-radius: 20px;
  backdrop-filter: blur(20px);
}

.event-search-btn {
  position: absolute;
  padding: 10px;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;

}


@media (min-width: 768px) and (max-width: 1199px) {

  .search-box {
    margin-top: 27px;
    flex-direction: row;
    justify-content: center;
  }


}

@media (min-width: 1200px) {

  .search-box {
    margin-top: 52px;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }


}